{% extends "::Layout/layoutAdmin.html.twig" %}

{% block body -%}
    <h3>Utilisateur Listes  Adresses </h3>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Complement</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in utilisateur.adresses %}
            <tr>
                <td><a href="">{{ adresse.adresse }}</a></td>
                <td>{{ adresse.nom }}</td>
                <td>{{ adresse.prenom }}</td>
                <td>{{ adresse.telephone }}</td>
                <td>{{ adresse.cp }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.pays }}</td>
                <td>{{ adresse.complement }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
